SRC_FILE=${BASH_SOURCE[0]}

GT_PATH=`dirname $SRC_FILE`
GT_PATH=`realpath $GT_PATH`

CLANG_PATH=${GT_PATH}/build_mips/build_clang/bin
LIBC_PATH=${GT_PATH}/build_mips/glibc_build_32
BINUTILS_PATH=${GT_PATH}/build_mips/executable_binutils/bin
export CC="${CLANG_PATH}/clang -integrated-as -mabi=64 -B${BINUTILS_PATH}"
export CXX="${CLANG_PATH}/clang++ -integrated-as -mabi=64 -B${BINUTILS_PATH}"
export CFLAGS="-B${LIBC_PATH}/lib -g -fuse-ld=gold -Wl,-q "
export CXXFLAGS="-B${LIBC_PATH}/lib -g -fuse-ld=gold -Wl,-q"
export LDFLAGS="-L${LIBC_PATH}/lib, -Wl,-q -L/usr/lib/gcc/mips64el-linux-gnuabi64/8"
