SRC_FILE=${BASH_SOURCE[0]}

GT_PATH=`dirname $SRC_FILE`
GT_PATH=`realpath $GT_PATH`

GCC_PATH=${GT_PATH}/build_mips/executable_gcc
BINUTILS_PATH=${GT_PATH}/build_mips/executable_binutils/bin
LIBC_PATH=${GT_PATH}/build_mips/glibc_build_32

export CC="${GCC_PATH}/bin/gcc-8.1 -mabi=64 -B${BINUTILS_PATH} -B/usr/lib -B${GCC_PATH}/lib/gcc/mips64el-linux-gnuabi64/8/64 -B${GCC_PATH}/lib64"
export CXX="${GCC_PATH}/bin/g++-8.1 -mabi=64 -B${BINUTILS_PATH} -B/usr/lib -B${GCC_PATH}/lib/gcc/mips64el-linux-gnuabi64/8/64 -B${GCC_PATH}/lib64"
export CFLAGS="-B${LIBC_PATH}/lib -g -fuse-ld=gold -Wl,-z,relro,-q -L/usr/lib/gcc/mips64el-linux-gnuabi64/8/64"
export CXXFLAGS="-B${LIBC_PATH}/lib -g -fuse-ld=gold -Wl,-z,relro,-q -L/usr/lib/gcc/mips64el-linux-gnuabi64/8/64"
export LDFLAGS="-L${LIBC_PATH}/lib -Wl,-q -L/usr/lib/gcc/mips64el-linux-gnuabi64/8/64"
